{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}



{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>

     <div class="row">
        {% for produit in produits %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>
                        {{ produit.PrNom }}
                        -
                        {{ produit.prixUHT }}
                        €
                    </h2>
                    <img class="img-fluid rounded" src="{{ asset('img/'~produit.image)}}" alt="Image de {{ produit.PrNom }}">
                    <hr>
                    <a href="{{ path('all4_sport_detail', {'id' : produit.id}) }}" class="btn btn-success float-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                        Voir le produit</a>
                    <a href="{{ path('cart_add',{'id' : produit.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </div>

            </div>



        {% endfor %}
    </div>
{% endblock %}
