{% extends 'base.html.twig' %}

{% block title %}Produit {% endblock %}

{% block body %}
<style>
.imga{
        width: 250px;
	    height: 250px;
    } 
</style>
<h1>{{ produit.prnom }}</h1>
    <div>
        le prix : {{ produit.prixUHT }} € TTC <br>
        Disponibilité : {{ produit.quantite >0 ? "En Stock": "Rupture"}}
    
    </div>
<p>
    Description : <br>
    {{ produit.description | raw }}
</p>

<div>
    <p> Image du produit :</p><br>

    <img class="imga" src="{{ asset('img/'~produit.image)}}" alt "img produit">

</div>
<br>
<br>
<h2>Avis : </h2>

{% for avi in produit.avis %}
    <div>
        {{ avi.titre }} , le {{ avi.dateAvis | date("d/m/Y h:i")}} <br>
        <p>{{ avi.contenu }}</p>
    </div> 
{% else %}
    Il n'y a pas d'avis sur le produit : {{ produit.prnom }}.
{% endfor %}

 <h1>Ajout d'un avis</h1>
<div>
{{ form(form) }}
</div>
{% endblock %}